// fonts
$primary-font: "Poppins", sans-serif;
$title-font: "Merriweather", serif;;

//colors
$color-white: #FFFFFF;
$color-grey: #ABABAB;
$color-pink: #DB2A6B;
$color-purple: #6E1FED;
$color-blue-light: #60D3D9;
$color-orange: #FF7E29;
$color-yellow: #F4B840;
$color-grey-bg: #2B2D38;
$color-pink-btn-hover: #db2a6b83;
$color-elipse-bg: #E1E1E1;

//size
$max-body: 1920px;
$max-container: 1600px;
